<div *ngIf="player !== undefined" class="details">
  <img class="player__picture" src="{{ player.picture }}" />
  <div class="player__content">
    <div class="header">
      <div class="player__name">
        <div class="player__first__name">{{ player.firstname }}</div>
        <div class="player__last__name">{{ player.lastname }}</div>
      </div>
    </div>
    <div class="player__stats">
      <div>
        <div class="player__stats__title">RANK</div>
        <div class="player__stats__value">#{{ player.data.rank }}</div>
      </div>
      <div>
        <div class="player__stats__title">POINTS</div>
        <div class="player__stats__value">{{ player.data.points }}</div>
      </div>
      <div>
        <div class="player__stats__title">COUNTRY</div>
        <div class="player__stats__value">{{ player.country.code }}</div>
      </div>
    </div>
    <div class="player__stats">
      <div>
        <div class="player__stats__title">LAST 5 GAMES</div>
        <div class="player__stats__value last__games">
          <div *ngFor="let game of player.data.last">
            {{ game === 1 ? "🟢" : "🔴" }}
          </div>
        </div>
      </div>
      <div>
        <div class="player__stats__title">AGE</div>
        <div class="player__stats__value">{{ player.data.age }}</div>
      </div>
    </div>
    <div class="player__stats">
      <div>
        <div class="player__stats__title">WEIGHT</div>
        <div class="player__stats__value">
          {{ player.data.weight / 1000 }} kg
        </div>
      </div>
      <div>
        <div class="player__stats__title">HEIGHT</div>
        <div class="player__stats__value">{{ player.data.height }} cm</div>
      </div>
    </div>
  </div>
  <div class="country">
    <img class="country__picture" src="{{ player.country.picture }}" />
    <div class="country__code">{{ player.country.code }}</div>
  </div>
</div>
