.details {
  margin: auto;
  height: 80vh;
  width: 80vw;
  background: white;
  display: flex;
}

.player__picture {
  position: relative;
  left: -15%;
}

.header {
  display: flex;
}

.player__name {
  color: #f2753b;
  font-size: 45px;
  font-weight: bold;
  font-weight: 600;
  margin-top: 100px;
}

.player__first__name {
  color: white;
  text-shadow: -1px -1px 0 #f2753b, 1px -1px 0 #f2753b, -1px 1px 0 #f2753b,
    1px 1px 0 #f2753b;
}

.player__last__name {
  color: #f2753b;
  font-weight: 700;
}

.player__stats {
  display: flex;
  margin-top: 50px;
}

.player__stats > * {
  margin-right: 20px;
}

.player__stats__title {
  color: #000000;
  opacity: 30%;
  font-size: small;
}

.player__stats__value {
  color: #f2753b;
  font-size: small;
  font-weight: 400;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  margin-top: 100px;
}

.country__picture {
  height: 100px;
}

.country__code {
  color: #000000;
  opacity: 30%;
  font-size: 50px;
  font-weight: lighter;
}

.player__content {
  flex: 1;
}

.last__games {
  display: flex;
}
.last__games > * {
  margin-right: 5px;
}
