<div class="player__card" (click)="showDetails()">
  <img class="player__picture" src="{{ player.picture }}" />
  <div class="player__infos">
    <div class="player__name">{{ player.firstname }} {{ player.lastname }}</div>
    <div class="player__stats">
      <div>
        <div class="player__stats__title">RANK</div>
        <div class="player__stats__value"># {{ player.data.rank }}</div>
      </div>
      <div>
        <div class="player__stats__title">POINTS</div>
        <div class="player__stats__value">{{ player.data.points }}</div>
      </div>
      <div>
        <div class="player__stats__title">COUNTRY</div>
        <div class="player__stats__value">{{ player.country.code }}</div>
      </div>
    </div>
  </div>
</div>
